/* Reset e Variáveis */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue-200: #a4c8f0; 
    --blue-500: #4a90e2; 
    --blue-800: #1c3a57; 
    --black-800: #171717;
    --gray-200: #cccccc;
    --white: #f9f9f9;
}

body {
    background: var(--gray-200);
    color: var(--black-800);
    font-family: sans-serif;
}

/* Títulos e textos */
h1, h2, h3 {
    font-weight: 700;
}

h1 { 
    color: var(--white); 
    font-size: 2rem; 
}

h2 { 
    color: var(--black-800); 
    font-size: 1.5rem; 
    padding: 1rem 0; 
    font-weight: 600; 
}

h3 { 
    color: var(--white); 
    font-size: 1rem; 
    text-align: center; 
}

p { 
    font-size: 1rem; 
    line-height: 1.5rem; 
    text-align: justify; 
}

/* Seções Gerais */
section {
    width: 90%;
    margin: 2rem auto;
}

/* Header e Menu */
header {
    background: linear-gradient(135deg, var(--blue-800), var(--blue-500));
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav a {
    color: var(--white);
    font-size: 1.1rem;
    text-decoration: none;
}

nav a:hover {
    color: var(--blue-200);
    text-decoration: underline;
}

/* About */
#about article {
    display: flex;
    align-items: center;
    gap: 2rem;
}

#about img { 
    width: 200px; 
    flex-shrink: 0; 
}

#foto_pf {
    border-radius: 200px;
}

#about p { 
    flex: 1; 
}

/* Vídeo */
#video figure {
    display: flex;
    justify-content: center;
}

/* Footer */
footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color: var(--white);
    background: linear-gradient(135deg, var(--blue-500), var(--blue-200));
    font-weight: bold;
    text-align: center;
}

footer section {
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
}

footer img {
    width: 2rem;
    height: 2rem;
    display: block;
    filter: invert(100%);
    transition: filter 0.3s;
}

footer img:hover {
    filter: brightness(0) 
            saturate(100%) 
            invert(65%) 
            sepia(59%) 
            saturate(2437%) 
            hue-rotate(190deg) 
            brightness(90%) 
            contrast(88%);
}

/* Contato */
.main_contato {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: 90%;
    margin: 2rem auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.5rem;
    border-radius: 0.75rem;
}

form input, textarea {
    padding: 0.5rem;
    border-radius: 0.75rem;
    border: none;
    font-size: 1rem;
}

textarea { 
    resize: none; 
    height: 5rem; 
}

form button {
    background: var(--blue-800);
    color: var(--white);
    padding: 0.75rem;
    border: 1px solid var(--blue-500);
    border-radius: 0.75rem;
    font-weight: 700;
    cursor: pointer;
}

form button:hover { 
    background: var(--blue-500); 
}

form span {
    color: #ff0000;
    font-size: 0.75rem;
}

/* Mapa */
.article_mapa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: var(--white);
    padding: 1.5rem;
    border-radius: 0.75rem;
}

.article_mapa address {
    width: 75%;
}

.article_mapa address p { 
    font-weight: 600; 
}

.article_mapa iframe {
    align-self: center; 
}
